#root {
  --contrast: #ffffff;

  --mainColor: #273a7c;
  --mainColor-light: #cbe6ff;
  // --mainColor-opacity: rgba(39, 58, 124, 0.5);

  --secondColor: #e32d73;
  --secondColor-light: #ffa8e3;
  // --secondColor-opacity: rgba(227, 45, 115, 0.5);

  // --bodyBgColor: $mainColor-light;
  // --mainBgColor: #fff;
  // --warningColor: rgb(200, 0, 0);
}
